div {
    text-align: center;
    background-color: rgb(199, 118, 232);
    width: 50%;
    height: 50vh;
    text-align: center;
    margin: 100px;
    margin-left: 25%;
    border-radius: 5px;
    color: aliceblue;
    border: 4px solid black;
}

h1 {
    padding-top: 30px;
    padding-bottom: 30px;
}

#value {
    width: 200px;
    height: 4vh;
    border-radius: 5px;
}

.bt {
    width: 25%;
    height: 5vh;
    border-radius: 5px;
}